<!doctype html>
<html> 
	<head>
		<title>mapmate</title>
		<meta charset="utf-8"></meta>
		<script src="_ah/channel/jsapi"></script>
		
        <!-- JQuery Mobile -->
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
        <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
        <script>
		$(document).bind("mobileinit", function(){
			  $.extend(  $.mobile , {
			    ajaxLinksEnabled: false,
                ajaxFormsEnabled: false
			  });
			});
		</script>
        <script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
		
        <!--  Google Maps -->
		<script src="http://www.google.com/jsapi"></script> 
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		
		<!-- Facebook -->
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		
		<style>
			body {
				height: 100%;
				padding: 0;
			}
			#mainPage {
				width: 100%;
				height: 100%;
				padding: 0;
			}
			#content {
				width: 100%;
				padding: 0;
			}
			#map-canvas {
				width: 100%;
				height: 100%;
			}
			.envelope_nm {
				color: red;
				font-size: large;
			}
			.envelope_def {
				color: white;
				font-size: large;
			}
		</style>
	</head>
	<body>
	<script>
	{% if auth %}
	   
		var state = {
				channelKey	: '{{ channelKey }}',
				token		: '{{ token }}',
				map         : null,
				location	: {
					lat	: null,
					lng : null
				},
				bounds		: {
					north_east : {
						lat : null,
						lng : null
					},
					south_west : {
						lat : null,
						lng : null
					}
				},
				socket      : null,
				visibleUsers: new Object(),
				receivedMessages : new Array(),
				sentMessages : new Array()
		};

		var actions = {
				
				initChannel : function () {
			        data = {
					    "func"	: "rpcInit",
					    "location"	: state.location,
					    "bounds"	: state.bounds
			        };
			        sendMessage('/channel', JSON.stringify(data));
		        },
		        
				addUser : function (user) {
					if(typeof state.visibleUsers[user['key']] == 'undefined') {
						state.visibleUsers[user['key']] = user;
						state.visibleUsers[user['key']]['marker'] = new google.maps.Marker({
				            position : new google.maps.LatLng(user['location']['lat'], user['location']['lng']),
				            map      : state.map,
				            title    : user['name'],
				            icon     : '/pic?id=' + user['key']
			            });
                        google.maps.event.addListener(state.visibleUsers[user['key']].marker, 'click', function () {
                            $("#profile_header").html(user.name);
                            $("#profile_pic").attr("src", '/pic?id=' + user['key']);
                            $("#profile_id").val(user["key"]);
                            window.location.hash = "#profile";
                        });
					}
				},

				removeUser : function (data) {
					state.visibleUsers[data['key']]['marker'].setMap(null);
					delete state.visibleUsers[data['key']];
				},

				updateState : function() {
					// TODO: implement
					return;
				},
           
                receivedMessage : function (data) {
                     // TODO: implement
                     alert(data.text);
                },

                sentMessage : function (data) {
                    // TODO: implement
                },

				closeChannel : function () {
					data = {
					    "func"	: "rpcClose"
					};
					$.ajax({
						type	: 'POST',
						url		: '/channel',
						data	: JSON.stringify(data),
					});
				}
		};

		var mapOptions = {
			    zoom: 17,
			    mapTypeId: google.maps.MapTypeId.ROADMAP,
			    streetViewControl: false,
			    scrollwheel: false,
			    scaleControl: false,
			    navigationControl: false,
			    mapTypeControl: false,
			    keyboardShortcuts: false,
			    disableDoubleClickZoom: true,
			    draggable: false,
			    disableDefaultUI: false
		};

		function initMap() {
			{% if debug %}
		        var location = new google.maps.LatLng({{ lat }}, {{ lng }});
		        state.location.lat = location.lat();
			      state.location.lng = location.lng();
			      mapOptions.center = new google.maps.LatLng(state.location.lat, state.location.lng);
			      state.map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
			      google.maps.event.addListener(state.map, 'tilesloaded', function () {
				      var bounds = state.map.getBounds();
				      var boundne = bounds.getNorthEast();
				      var boundsw = bounds.getSouthWest();
				      state["bounds"]["north_east"]["lat"] = boundne.lat();
				      state["bounds"]["north_east"]["lng"] = boundne.lng();
				      state["bounds"]["south_west"]["lat"] = boundsw.lat();
				      state["bounds"]["south_west"]["lng"] = boundsw.lng();
				      if(state.socket) {
				         actions.updateState();
				      } else {
					     openChannel(); 
				      }
			      });		       
		        
	       {% else %}
	       
	       if(navigator.geolocation) {
			      browserSupportFlag = true;
			      navigator.geolocation.getCurrentPosition(function(position) {
			          var location = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
			          state.location.lat = location.lat();
			          state.location.lng = location.lng();
			          mapOptions.center = new google.maps.LatLng(state.location.lat, state.location.lng);
			          state.map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
			          google.maps.event.addListener(state.map, 'tilesloaded', function () {
				          var bounds = state.map.getBounds();
				          var boundne = bounds.getNorthEast();
				          var boundsw = bounds.getSouthWest();
				          state["bounds"]["north_east"]["lat"] = boundne.lat();
				          state["bounds"]["north_east"]["lng"] = boundne.lng();
				          state["bounds"]["south_west"]["lat"] = boundsw.lat();
				          state["bounds"]["south_west"]["lng"] = boundsw.lng();
				          if(state.socket) {
				              actions.updateState();
				          } else {
					          openChannel(); 
				          }
			          });		        
			      });
	       }	
	       
	       {% endif %}
		}

		function processResponse(message) {
			len = message.length;
			for( var _i = 0; _i < len; _i ++ ) {
				type = message[_i]['type'];
				if( !(typeof type == 'undefined' || type === 'ok' || type === 'error') ) {
					actions[type]( message[_i].data );
				}
			}
		}
		
		function sendMessage(path, param) {
			$.ajax({
				type	: 'POST',
				url		: path,
				data	: param,
				success	: onMessage
			});
		}

		function onMessage(message) {
			if(message) {
				if(message.data) {
			        response = JSON.parse(message.data);
				} else {
					response = JSON.parse(message);
				}
			    processResponse(response);
		    }
		}

		function openChannel() {
			var channel = new goog.appengine.Channel(state.token);
			var handler = {
					'onopen'    : function () { actions.initChannel(); },
					'onmessage' : onMessage,
					'onclose'   : function () { actions.closeChannel(); }
			};
			state.socket = channel.open(handler);
		}
		
		
		function fixLayout() {
			var cont = $("#content");
			var headHeight = $("#header").css("height");
			headHeight = headHeight.substring(0, headHeight.length);
			cont.css("height", window.innerHeight - parseInt(headHeight));
		}

		function init() {
			fixLayout();
			$(window).resize(fixLayout);
            $("#message_form").submit(postMessage);
			
			initMap();
		}

        function postMessage() {
           var message, act, id;
           text = $("#message_body").val();
           func = "rpcSendMessage";
           recipient = $("#profile_id").val();
           
           param = {
               "func" : "rpcSendMessage",
               "text" : text,
               "recipient" : recipient
           };
           sendMessage('/channel', JSON.stringify(param));
           window.location.hash = "#mainPage";
           return false;
        }
		
		window.onunload = function() {
			state.socket.close();
			// niyeyse google'in api'i onclose eventini tetiklemiyor
			actions.closeChannel();
		};
		$(window).bind('load', init);

		{% endif %}
		
	</script>
	
	<div data-role="page" id="mainPage">
  
	   	<header data-role="header" id="header">
	  		<h1>mapmate</h1>
	  		{% if auth %}
	  		<a href="#settings">settings</a>
	  		<a href="#messages" class="envelope_def" id="msgb">&#9993;</a>
	  		{% else %}
	  		<a href='{{ authlink }}' id="login">login</a>
	  		{% endif %}
   		</header>  
	  
   		<div data-role="content" id="content">
   			<div id="map-canvas"></div>
		</div>
 	</div> 
 	
 	<div data-role="page" id="messages">
 		<header data-role="header">
 			<h1>Messages</h1>
 			<a href="#mainPage" data-icon="arrow-l">back</a>
 		</header>
 		<div data-role="content" id="messageList">
 		messages
 		</div>
 	</div>
 	
    <div data-role="page" id="profile">
        <header data-role="header">
            <h1 id="profile_header"></h1>
            <a href="#mainPage" data-icon="arrow-l">back</a>
        </header>
        <div data-role="content" id="profile_page">
            <img id="profile_pic">
            <form action="/channel" method="POST" id="message_form">
                <input type="hidden" name="func" value="rpcSendMessage">
                <input type="hidden" name="id" id="profile_id">
                <label for="message_body">send message</label>
                <textarea cols="40" rows="8" name="messae_body" id="message_body"></textarea>
                <button id="message_buddon">send</button>
            </form>
        </div>
    </div>

 	<div data-role="page" id="settings">
		<div data-role="header">
 			<h1>Settings</h1>
 			<a href="#mainPage" data-icon="arrow-l">back</a>
 		</div>
 		<div data-role="content" id="settingList">
 		</div>
 	</div>

	</body>
</html>
