* {
    margin: 0;
    padding: 0;
}

html {
    height : 100%;
    width: 100%;
}

body {
    height: inherit;
    width: inherit;
    font-family: Helvetica;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-oritent: vertical;
}

#mh {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-oritent: horizontal;
}

.main {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-oritent: horizontal;
}

#mm {
    width: 300px;
}

#mn-l, #mn-r {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}

#mn-l {
    text-align: left;
}

#mn-r {
    text-align: right;
}

#map-canvas {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
